/.idea/
/.pytest_cache/
/hglm.egg-info/
/venv/
*.pyc
/htmlcov/
/.coverage
/test/data/img*
*tmp*
/**/.ipynb_checkpoints/
/**/__pycache__/
*.p
*.whl
/glow/demo/hglm_image_demo.gif
*checkpoint.ipynb
*.pdf
/test/profile.py.lprof
profile*
/glow/benchmark/move_plot.py
/test/scratch/
.glow_aws_config
.docker_version
/docs/notes/
/docs/paper
/.claude/
/glow.sublime-project
/glow.sublime-workspace
/todo.todo
