/.idea/
/.pytest_cache/
/hglm.egg-info/
/venv/
*.pyc
/htmlcov/
/.coverage
/test/data/img*
*tmp*
/**/.ipynb_checkpoints/
/**/__pycache__/
*.p
*.whl
/hglm/demo/hglm_image_demo.gif
*checkpoint.ipynb
*.pdf
/test/profile.py.lprof
profile*
